EXPO_PUBLIC_API_BASE_URL=https://imml0cczh7.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_COGNITO_DOMAIN=https://YOUR_DOMAIN.auth.us-east-1.amazoncognito.com
EXPO_PUBLIC_COGNITO_CLIENT_ID=YOUR_PUBLIC_CLIENT_ID
EXPO_PUBLIC_ENABLE_EVALUATION_MODE=true
